<!DOCTYPE html>
<html>
  <head>
    <title>Blogv3</title>
    <%
=begin%>
 <meta name="viewport" content="width=device-width,initial-scale=1"> 
<%
=end%>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAejSgheqbFb_ibGMf9ko902a5_FrJ0dTw&libraries=places"></script>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'starter' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <script data-ad-client="ca-pub-5712483420848978" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
