<!DOCTYPE html>
<html>
  <head>
    <title>Blogv3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0Doex3S_PG5yP8Msvxm8aIs1P57VlS1w&libraries=places"></script>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'starter' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
